<div class="col-md-7">

  <!-- Post Create Box
  ================================================= -->
  <div class="create-post">
    <div class="row">
      <form [formGroup]="postForm" (submit)="createPost()">
        <div class="col-md-7 col-sm-7">

          <div class="form-group">

            <img src="http://placehold.it/300x300" alt="" class="profile-photo-md"/>
            <textarea formControlName="content" name="texts" id="exampleTextarea" cols="30" rows="1"
                      class="form-control" placeholder="Write what you wish"></textarea>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="tools">
            <ul class="publishing-tools list-inline">
              <li>
                <select formControlName="status">
                  <option value=""><i class="ion-compose"></i></option>
                <option value="1">Tất cả mọi người</option>
                <option value="2">Tất cả bạn bè</option>
                <option value="3">Chỉ mình tôi</option>
              </select></li>
<!--              <li><a href="#"><i class="ion-images"></i></a></li>-->
<!--              <li><a href="#"><i class="ion-ios-videocam"></i></a></li>-->
<!--              <li><a href="#"><i class="ion-map"></i></a></li>-->
            </ul>
            <button class="btn btn-primary pull-right">POST</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Post Create Box End-->

<tbody *ngFor="let ct of post ; index as i">

<div class="post-content">

  <!--Post Date-->
  <div class="post-date hidden-xs hidden-sm">
    <h5>Sarah</h5>
    <p class="text-grey">10/22/2016</p>
  </div><!--Post Date End-->

  <img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image"/>
  <div class="post-container">
    <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left"/>
    <div class="post-detail">
      <div class="user-info">
        <h5><a href="timeline.html" class="profile-link">{{ct.user?.username}}</a> <span
          class="following">following</span>
        </h5>
        <p class="text-muted">{{ct?.createAt | date:"mm/dd/yyyy"}}</p>
      </div>
      <div class="reaction">
        <a class="btn text-green"><i class="icon ion-thumbsup"></i> 49</a>
        <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
        <button (click)="update(ct?.id,ct.user?.id)">Edit</button>
        <button (click)="deletePost(ct?.id)">delete</button>


      </div>

      <div class="line-divider"></div>
      <div class="post-text">


        <td>{{ct.content}}</td>

      </div>
      <div class="line-divider"></div>
      <div class="post-comment">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm"/>
        <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
      </div>
      <div class="post-comment">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm"/>
        <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud </p>
      </div>
      <div class="post-comment">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm"/>
        <input type="text" class="form-control" placeholder="Post a comment">
      </div>
    </div>
  </div>
</div>
</tbody>
<!-- Post Content
================================================= -->



