<div *ngIf="friendRelation != null && friendRelation.status == '2'; else  notFriend()" class="col-md-7">

  <!-- Friend List
  ================================================= -->
  <div class="row">
    <div *ngFor="let friend of peopleFriend" class="friend-list">
      <div class="col-md-6 col-sm-6">
        <div class="friend-card">
          <img src="{{friend?.cover}}" alt="profile-cover" class="img-responsive cover"/>
          <div class="card-info">
            <img src="{{friend?.avatar}}" alt="user" class="profile-photo-lg"/>
            <div class="friend-info">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <h5><a routerLink="/user/people-detail/{{friend.id}}/about/{{friend.id}}"
                         class="profile-link">{{friend?.username}}</a></h5>
                  <p>Student at Harvard</p>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="dropdown">
                    <button class="nut_dropdown btn btn-primary pull-right">Friends</button>
                    <div class="noidung_dropdown">
                      <a routerLink="/user/people-detail/{{friend.id}}/about/{{friend.id}}">Profile</a>
                      <a (click)="cancelRelationship(friend.id, friend.username)">Unfriend</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                &ensp;
                <br>
                &ensp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--      modal-->
  <div class="modal fade" id="unFriendSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unFriendSuccess1">Cancel Relationship. Please wait...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <b>Successfully canceled relationship with {{usernameFriend}} !</b>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="notFriend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notFriend1">List Friends. Please wait...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<!--          <b>You and {{usernameFriend}} are not friends !</b>-->
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
<!--&lt;!&ndash;<div *ngIf="!(friendRelation != null && friendRelation.status == '2')" (load)="notFriend()"></div>&ndash;&gt;-->
<!--<ng-template #elseBlock1>-->
<!--  <div >a</div>-->
<!--</ng-template>-->
